body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
  width: 1600px;
}

ul, li{
  display: block;
  margin: 0;
  padding: 0;
}

.header{
  padding-top: 24px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: black;
  text-decoration: none;
  margin-right: 93px;
}

.logo-accent {
  color: #2196F3;
}

.menu{
  display: flex;
  font-weight: 500;
}

.studio{
  color: #2196F3;
  cursor: pointer;
  text-decoration: none;
}

.portfolio, .contact{
  color: #212121;
  text-decoration: none;
} 

.menu li{
  margin-right: 50px;
}

.mail {
  color: #2196F3;
  cursor: pointer;
  margin-right: 50px;
}

.tel {
  text-decoration: none;
  color: #757575;
}

.contacts{
  margin-left: auto;
}

.nav{
  display: flex;
  align-items: center;
}

.solution{
  background: #2F303A;
  padding-bottom: 200px;
  align-items: center;
}

h1{
  margin: 0 auto;
  font-size: 44px;
  font-weight: 900;
  color: #FFFFFF;
  line-height: 60px;
  padding-top: 200px;
  padding-bottom: 30px;
  text-transform: uppercase;
  width: 616px;
  text-align: center;
}

.btn-form{
  background: #2196F3;
  font-size: 16px;
  color: white;
  padding: 10px 32px;
  border: 0;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  height: 50px;
}

.team{
  background: #F5F4FA;
}

h2{
  font-size: 36px;
  font-weight: 700;
  padding-top: 94px;
}

.footer{
  background: #2F303A;
  padding-left: 215px;
  padding-top: 60px;
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.town{
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 9px;
}

.email, .telephon{
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.email{
  margin-bottom: 9px;
}

.telephon{
  padding-bottom: 60px;
}

.description{
  display: flex;
  padding-top: 94px;
  margin: 0 auto;
}

.bloсk{
  margin-right: 30px;
  width: 270px;
}

dt{
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

dd{
  color: #757575;
  letter-spacing: 0.03em;
  margin-left: 0;
}

h2{
  text-align: center;
  font-size: 32px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.description-photo{
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

figure{
  margin: 0 auto;
}

.peoples {
  display: flex;
  padding-bottom: 94px;;
}

.people {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-right: 30px;
}

.comande{
  font-weight: 700;
  padding-top: 94px;
  padding-bottom: 50px;
}

h3{
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.profession{
  text-align: center;
  color: #757575;
  font-size: 16px;
}